
<div class="card">
  <div class="card-header">
      <h4 class="card-title">Books in a Mock</h4>
  </div>
  <div class="card-body">
    <div class="form-group">
      <label for="">Search Key</label>
      <input type="text"
        class="form-control" name="" id="" [(ngModel)]="key">
    </div>
    <button type="button" class="btn btn-primary"
      (click)="btnSearch()">Search</button>
      <button type="button" class="btn btn-primary"
      (click)="btnSearchRx()">SearchRx</button>
  </div>
  <div class="card-footer text-muted">
    <div *ngIf="aBooks.length">
      <p class="h4">Result</p>
      <ul>
        <li *ngFor="let book of aBooks">{{ book }}</li>
      </ul>
    </div>
  </div>
</div>

